# Dependencies
node_modules/
package.json
package-lock.json

# Mac
.DS_Store

# Editor
.vscode/

# Archives
portfolio.zip

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
